@font-face {
    font-family: font1;
    src: url('calibri.ttf');
}
@font-face {
    font-family: font2;
    src: url('Calibri\ Bold.ttf');
}
@font-face {
    font-family: font3;
    src: url('Calibri\ Light.ttf');
}